<div class="container">
  <div class="row forgot-box">
    <div class="forgot-logo">
      <label class="recovery-text">Account recovery</label>
    </div>
    <form class="col-lg-12 form-inline" [formGroup]="forgotForm">
      <label class="form-lbl">Enter Email</label>
      <div class="form-group">
        <input class="form-control" formControlName="email" title="email id">
      </div>
      <div class="forgot-logo">
        <button class="btn btn-primary" (click)="onForgot()">Reset</button>
        <button class="btn btn-danger" (click)="onReset()">Clear</button>
      </div>
    </form>
  </div>
</div>
