.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 50%;
  }


  .text-possition {
    margin-top: -20px;
  }

  .lbl-txt {
    text-align: right;
    width: 100%;
  }

  .received-box {
    border: 1px solid black;
    border-radius: .25rem;
  }