.form-container {
    display: flex;
    flex-direction: column;
}
  
  .form-container > * {
    width: 100%;
  }


  .text-possition {
    margin-top: -20px;
  }

  .lbl-txt {
    text-align: right;
  }

  .received-box {
    border: 1px solid black;
    border-radius: .25rem;
    float: left;
  }
  
  .sm-12-div {
    float: left;
  } 

  .form-info {
    margin: 20px 0;
    float: left;
  }

  .table-info {
    margin: 20px 0;
    float: left;
  }

.modify-form {
  padding-left: .75rem;
  padding-top: .75rem;
}

.price-info {
  text-align: right;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: middle;
}

.btn-form {
  margin-right: 1rem;
  text-align: right;
}

.stock-deader {
  padding-top: 1rem;
  padding-bottom: 0;
}