<div class="container received-box">
  <div class="col-sm-12 sm-12-div">
    <h4 class="stock-deader">Stock Received Details</h4>
    <div class="col-sm-3 form-info">
      <form [formGroup]="receivedForm" class="form-horizantal">
        <div class="form-container">
          <mat-form-field>
            <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <small class="text text-danger text-possition" *ngIf="isFormSubmit && receivedForm.get('date').invalid"> enter stock date</small>
          <mat-form-field>
            <input matInput placeholder="product" formControlName="product">
          </mat-form-field>
          <small class="text text-danger text-possition" *ngIf="isFormSubmit && receivedForm.get('product').invalid"> enter product name</small>
          <mat-form-field>
            <input matInput placeholder="model" formControlName="model">
          </mat-form-field>
          <small class="text text-danger text-possition" *ngIf="isFormSubmit && receivedForm.get('model').invalid"> enter model name</small>
          <mat-form-field>
            <input matInput placeholder="unit rate" formControlName="unitRate" (keyup)="calculateGrandTotal()" [maxlength]="6">
          </mat-form-field>
          <small class="text text-danger text-possition" *ngIf="isFormSubmit && receivedForm.get('unitRate').invalid"> enter unit price</small>
          <mat-form-field>
            <input matInput placeholder="quantity" formControlName="qty" (keyup)="calculateGrandTotal()" [maxlength]="3">
          </mat-form-field>
          <small class="text text-danger text-possition" *ngIf="isFormSubmit && receivedForm.get('qty').invalid"> enter quantity 3 letters</small>
          <div class="form-group" *ngIf="grandTotal">
            <label class="lbl-txt">Grand Total: {{grandTotal}}</label>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" (click)="onStockDetails()">Add</button>
            <button class="btn btn-danger" (click)="onReset()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-9 form-info">
      <table class="table table-bordered" *ngIf="stockDetails.length > 0">
        <thead>
          <tr>
            <th>Date</th>
            <th>Product Name</th>
            <th>Model</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Modify/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stockDetails">
            <td>{{stock.date}}</td>
            <td>{{stock.product}}</td>
            <td>{{stock.model}}</td>
            <td class="price-info">{{stock.unitRate.toFixed(2)}}</td>
            <td class="price-info">{{stock.qty}}</td>
            <div class="form-group modify-form">
              <button class="btn btn-primary" (click)="onEdit(stock)">Edit</button>
              <button class="btn btn-danger" (click)="onDelete(stock.model)">Delete</button>
            </div>
          </tr>
        </tbody>
      </table>
      <div class="form-group btn-form" *ngIf="stockDetails.length > 0">
        <button class="btn btn-primary" (click)="onSaveStockDetails()">Save</button>
      </div>
    </div>
  </div>
</div>