.form-container {
    display: flex;
    flex-direction: column;
}
  
  .form-container > * {
    width: 100%;
  }


  .text-possition {
    margin-top: -20px;
  }

  .lbl-txt {
    text-align: right;
    width: 100%;
  }

  .received-box {
    border: 1px solid black;
    border-radius: .25rem;
    float: left;
  }
  
  .sm-12-div {
    float: left;
  } 

  .form-info {
    margin: 20px 0;
    float: left;
  }

  .table-info {
    margin: 20px 0;
    float: left;
  }

.modify-form{
  padding-left: 15px;
  padding-top: 15px;
}

.price-info {
  text-align: right;
  width: 100%;
}
