.nav-bar-color {
  color: #ffffff !important;
}

@media (min-width: 576px) {
  .form-inline .form-control {
    width: 350px;
  }
}

.example-icon {
  // padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.material-icons {
  font-size: 58px;
  cursor: pointer;
}
