<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{titleText}}</span>
    <span class="example-spacer"></span>
    <div *ngFor="let nav of navList">
      <button mat-button [routerLink]="[nav.routePath]">
        {{nav.description}}
      </button>
    </div>
    <i class="material-icons" [matMenuTriggerFor]="menu">&#xE87C;</i>
    <mat-menu #menu="matMenu">
      <div *ngFor="let user of userList">
        <button mat-menu-item [routerLink]="[user.routePath]">{{user.description}}</button>
      </div>
    </mat-menu>

    <!--mat-menu #appMenu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
      </ng-template>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>-->
  </mat-toolbar-row>
</mat-toolbar>
